{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://vk.com/s_k_r_1_3_3_7"><img src="{% static 'images/vk.svg' %}" alt="..."></a></li>
        <li><a href="https://t.me/MironManager"><img src="{% static 'images/tg.svg' %}" alt="..."></a></li>
        <li><a href="https://github.com/GrekF3"><img src="{% static 'images/github.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/nikita-petrov-14b144225/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="https://jamesgrangerdesign.co.uk/" target="_blank">James Granger Design</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->